body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a,
span {
    display: inline-block;
    text-decoration: none;
}

.header {
    background-color: #003c79;
    padding:24px 0;
}

.main_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue_button {
    background-color: #003c79;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    border: 0;
    padding: 7px 0;
    max-width: 200px;
    width: 100%;
    transition:all ease 0.5s;
    border-radius: 5px;
    text-align: center;
}

.blue_button:hover {
    opacity:0.8;
    transition:all ease 0.5s;
}

.checkin_button {
    text-align: center;
}

.dob_input {
    font-size: 18px;
    text-align: center;
    height: 40px;
    border:0;
    width:100%;
}

.dob_input_wrap {
    position: relative;
}

.dob_input_wrap::after {
    position: absolute;
    content: "/";
    top: 50%;
    transform: translateY(-50%);
    right: -14px;
    font-size: 19px;
    color: #ddd;
}

.dob_input:focus {
    outline:none;
}

.date_wrap {
    width: 56px;
}

.month_wrap {
    width: 56px;
}

.year_wrap {
    width: 62px;
}

.year_wrap::after {
    display: none;
}

.dateOfBirth-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    margin: 0 auto 15px;
}

.video_wrap {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

#video {
    width: 150%;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.face-success-wrap {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.auth-success-btn-wrap {
    display: flex;
    justify-content: space-between;
}

    .auth-unsuccess-btn-wrap {
    text-align: center;
}

.auth-success-icon-wrap {
    width: 100px;
    height: 100px;
    background: #35970c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 77px;
    color: #fff;
    margin: 0 auto 25px;
}

.auth-unsuccess-icon-wrap {
    width: 100px;
    height: 100px;
    background: #af220c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 51px;
    color: #fff;
    margin: 0 auto 25px;
}

.auth-decription p {
    text-align: center;
}


@media(max-width:767px) {
    .video_wrap {
        width: 300px;
        height:300px;
    }
    .blue_button {
        font-size: 12px;
        max-width: 150px;
    }
    .auth-unsuccess-icon-wrap {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
    .auth-success-icon-wrap {
        width: 60px;
        height: 60px;
        font-size: 40px;
    }
    .auth-decription p {
        font-size: 14px;
    }
    .logo_image {
        max-width: 120px;
    }
    .header {
        padding: 17px 0;
    }
}

